# SF Salaries

In [1]:
import pandas as pd

In [2]:
sal = pd.read_csv('data/Salaries.csv')
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [3]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

Average BasePay

In [4]:
sal['BasePay'].mean()

66325.4488404877

Highest amount of OvertimePay

In [5]:
sal['OvertimePay'].max()

245131.88

Job title of JOSEPH DRISCOLL

In [11]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

# sal['JobTitle'][sal['EmployeeName'] == 'JOSEPH DRISCOLL']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

How much does JOSEPH DRISCOLL make (including benefits)

In [12]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

# sal['TotalPayBenefits'][sal['EmployeeName'] == 'JOSEPH DRISCOLL']

24    270324.91
Name: TotalPayBenefits, dtype: float64

Who is the highest paid person?

In [26]:
# sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName']

# with loc
sal.loc[sal['TotalPayBenefits'].idxmax()]['EmployeeName']

'NATHANIEL FORD'

Who is the lowest paid person?

In [27]:
# sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]['EmployeeName']

# with iloc
sal.iloc[sal['TotalPayBenefits'].argmin()]['EmployeeName']

'Joe Lopez'

Average (mean) BasePay per year.

In [32]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

Amount of unique job titles?

In [34]:
sal['JobTitle'].nunique()

2159

Top 5 most common jobs.

In [40]:
sal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

Number of Job Titles who were represented by only one perosn in 2013.

In [48]:
sum(sal[sal['Year'] == 2013]['JobTitle'].value_counts() == 1)

202

How many people have the word Chief in their job title?

In [49]:
def chief_checker(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [51]:
sum(sal['JobTitle'].apply(lambda x: chief_checker(x)))

477

Is there a correlation between length of the Job Title string and Salary?

In [53]:
sal['title_len'] = sal['JobTitle'].apply(len)
sal[['TotalPayBenefits', 'title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036878
title_len                -0.036878   1.000000